---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import WhoWeAre from '../components/WhoWeAre.astro';
import Partners from '../components/Partners.astro';
import Charlists from '../components/Charlists.astro';
import WhyAssist from '../components/WhyAssist.astro';
import TargetAudience from '../components/TargetAudience.astro';
import Booking from '../components/Booking.astro';
import ParallaxImage from '../components/ParallaxImage.astro';
import LocationAndDate from '../components/LocationAndDate.astro';
import parallaxImageUrl from '../../public/images/parallax-img.png';
---

<Layout canonical="" description="Caribbean Movility" image="" title="Caribbean Movility">
	<Header />
	<main>
		<Hero />
		<WhoWeAre />
		<Partners />
		<div class="flex flex-col px-8 py-24 text-white gap-y-16 bg-downriver md:px-16 lg:px-24">
			<Charlists />
			<WhyAssist />
			<TargetAudience />
		</div>
		<Booking />
		<ParallaxImage imageUrl={parallaxImageUrl.src} />
		<LocationAndDate />
	</main>
  <Footer />
</Layout>