---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout canonical="" description="Caribbean Movility" image="" title="Caribbean Movility">
	<Header/>
	<main>

	</main>
  <Footer />
</Layout>