<section class="flex flex-col items-center px-8 py-10 md:px-16 lg:px-24">
  <h2 class="mb-10 text-3xl italic font-black text-center ">¡Reserva tu espacio!</h2>
  <div class="max-w-lg lg:max-w-7xl">
    <div class="text-xl mb-7">
      <p>
        El próximo 9 de Noviembre el sector profesional y el sector educativo de la movilidad eléctrica y las ciudades inteligentes se dan la mano en Gijón, Asturias. Este año, además de la VIII edición del congreso CEVE, tiene lugar la <strong class="font-semibold">primera edición de la Cumbre Internacional All Electric Society.</strong>
      </p>
      <br>
      <p>
        Expertos de organismos internacionales debatirán sobre la transferencia de tecnología entre la academia y la empresa y las diferentes formas de promover la generación y compartición del conocimiento tecnológico que necesita la industria de la movilidad eléctrica del futuro.
      </p>
    </div>
    <a href="#contact" class="px-4 py-1.5 text-xl text-downriver italic font-bold rounded-md bg-bright-sky-blue w-fit">¡Reserva tu espacio!</a>
  </div>
</section>