---
import { Image } from "astro:assets";

interface Charlist {
  image: ImageMetadata;
  name: string;
  title: string;
  description: string;
}

const { image, name, title, description } = Astro.props;
---

<li class="flex flex-col w-80 bg-black/25 rounded-xl">
  <div class="rounded">
    <Image src={image} alt="Image" class="w-full h-full rounded-t-xl aspect-[16/20]" />
  </div>
  <div class="flex flex-col items-center flex-1 p-4 gap-y-6">
    <div class="flex flex-col w-full gap-y-1">
      <h3 class="text-xl font-semibold lg:text-base">{name}</h3>
      <h4 class="text-xl lg:text-base">{title}</h4>
    </div>
    <button class="px-4 py-1 mt-auto transition-colors bg-gray-600 rounded hover:bg-bright-sky-blue w-fit">Ver mas</button>
  </div>
</li>