<form id="contact-form" method="post" class="grid w-full max-w-lg grid-cols-1 gap-5 py-10 text-black bg-white rounded-md sm:grid-cols-2 px-7">
  <input type="text" name="name" id="name" class="px-3 py-2 border border-black rounded-[0.3125rem]" placeholder="Nombre" required aria-required="true">
  <input type="text" name="lastname" id="lastname" class="px-3 py-2 border border-black rounded-[0.3125rem]" placeholder="Apellido" required aria-required="true">
  <input type="email" name="email" id="email" class="px-3 py-2 border border-black rounded-[0.3125rem]" placeholder="Email" required aria-required="true">
  <input type="tel" name="phone" id="phone" class="px-3 py-2 border border-black rounded-[0.3125rem]" placeholder="Télefono" required aria-required="true">
  <input type="text" name="address" id="address" class="sm:col-span-2 px-3 py-2 border border-black rounded-[0.3125rem]" placeholder="Dirección">
  <textarea name="message" id="message" class="h-20 sm:col-span-2 px-3 py-2 border border-black rounded-[0.3125rem] resize-none" placeholder="Mensaje" required aria-required="true"></textarea>
  <button type="submit" class="sm:col-span-2 px-3 py-2 text-lg rounded-[0.3125rem] bg-bright-sky-blue text-downriver">Enviar</button>
</form>