<article id="hero" class="flex items-center p-8 h-[calc(100vh-4.25rem)]">
  <div class="absolute inset-0 object-cover w-full h-full -z-10">
    <video playsinline autoplay muted loop preload="none" class="object-cover w-full h-full">
      <!-- TODO: remplazar url's de videos -->
      <source src="https://vehiculoselectricos.com.do/home.webm" type='video/webm'>
      <source src="https://vehiculoselectricos.com.do/home.mp4" type='video/mp4'>
      <source src="https://vehiculoselectricos.com.do/home.ogv" type='video/ogg'>
    </video>
  </div>
  <div class="flex flex-col gap-y-8">
    <h1 class="flex flex-col text-4xl italic font-black font-roboto xs:text-5xl">
      <span class="text-sky-malted">Feria de Movilidad Eléctrica</span>
      <span class="text-white">República Dominicana</span>
    </h1>
    <div class="flex flex-col 2xs:flex-row gap-y-2 gap-x-5 text-downriver">
      <button class="px-4 py-1 text-xl font-medium rounded-md bg-bright-sky-blue w-fit">Cómo llegar</button>
      <button class="px-4 py-1 text-xl font-medium rounded-md bg-bright-sky-blue w-fit">Contáctanos</button>
    </div>
  </div>
</article>