---
const locationUrl = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.452258054211!2d-69.90061112480976!3d18.463162582619237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5623b60461339%3A0x6a3ba437697226a4!2sSheraton%20Santo%20Domingo%20Hotel!5e0!3m2!1ses!2sdo!4v1724178504501!5m2!1ses!2sdo';
const fulldate = 'Sábado 23 de Noviembre 2024';
const location = 'Sheraton Santo Domingo Hotel';
const date = '2024-11-23'
---

<section id="how-to-arrive" class="flex flex-col items-center justify-center px-8 py-16 lg:flex-row gap-x-20 gap-y-10 md:px-16 lg:px-20">
  <div class="flex flex-col order-2 gap-y-12 lg:order-1">
    <div class="flex flex-col gap-y-2 lg:gap-y-3">
      <h3 class="text-2xl italic font-black lg:text-3xl text-downriver">Fecha</h3>
      <time datetime={date} class="text-xl lg:text-2xl">{fulldate}</time>
    </div>
    <div class="flex flex-col gap-y-2 lg:gap-y-3">
      <h3 class="text-2xl italic font-black lg:text-3xl text-downriver">Ubicación</h3>
      <span class="text-xl lg:text-2xl">{location}</span>
    </div>
  </div>
  <div id="map" class="order-1 lg:order-2 w-full max-w-[30rem] aspect-[48/35]">
    <iframe 
      title="Ubicación"
      src={locationUrl}
      height="350"
      class="w-full h-full border-0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>