<section class="px-8 flex items-center md:px-16 py-16 lg:px-20">
  <div class="flex flex-col gap-y-12">
    <div class="flex flex-col gap-y-2 lg:gap-y-3">
      <h3 class="font-black font-roboto italic text-2xl lg:text-3xl text-bright-sky-blue">Fecha</h3>
      <p class="text-xl lg:text-2xl">9 de noviembre este 2024</p>
    </div>
    <div class="flex flex-col gap-y-2 lg:gap-y-3">
      <h3 class="font-black font-roboto italic text-2xl lg:text-3xl text-bright-sky-blue">Ubicación</h3>
      <p class="text-xl lg:text-2xl">Ave. Charles Summer, Metro Plaza, #123</p>
    </div>
  </div>
  <div id="map"></div>
</section>