---
interface ParallaxImageProps {
  imageUrl: string;
  altText?: string;
}

const { imageUrl, altText } = Astro.props as ParallaxImageProps;
---

<div
  class="w-full h-screen bg-fixed bg-center bg-cover"
  style={`background-image: url('${imageUrl}')`}
  aria-label={altText || "Parallax Image"}
  role="img"
>
</div>
