---
import { Image } from 'astro:assets';
---

<section id="partners" class="h-56 p-8">
  <h2 class="text-3xl font-roboto italic font-black text-center">Este evento es posible gracias al apoyo de</h2>
  <div>
    
  </div>
</section>