---
import { Image } from 'astro:assets';
import image from '../../public/images/target-audience-img.png';
import checkIcon from '../../public/icons/check.svg';
---

<section class="flex flex-col lg:flex-row z-10 gap-x-16">
  <div class="flex justify-center lg:justify-end lg:w-1/2">
    <Image src={image} alt="Ilustración" class="w-full max-w-xl" />
  </div>
  <div class="flex justify-center lg:justify-start lg:w-1/2">
    <div class="flex flex-col max-w-xl py-4 gap-y-5">
      <h2 class="text-3xl italic font-black ">¿A quién va dirigido?</h2>
      <p class="text-lg leading-tight">Las charlas serán dirigidas desde 3 perspectivas diferentes: <strong class="font-semibold">Mercado, Ventas y Futuro de la Movilidad Eléctrica.</strong></p>
      <ul class="flex flex-col text-lg leading-none gap-y-3">
        <li class="flex items-center gap-x-1">
          <Image src={checkIcon} alt="icono" class="self-start" />
          Vendedores dedicados a vender vehículos eléctricos.
        </li>
        <li class="flex items-center gap-x-1">
          <Image src={checkIcon} alt="icono" class="self-start" />
          Ejecutivos
        </li>
        <li class="flex items-center gap-x-1">
          <Image src={checkIcon} alt="icono" class="self-start" />
          Gerentes
        </li>
      </ul>
    </div>
  </div>
</section>