<section id="why-assist" class="flex flex-col z-10 items-center">
  <h2 class="mb-10 text-3xl italic font-black text-center ">¿Por qué asistir?</h2>
  <div class="max-w-lg text-xl lg:max-w-7xl">
    <p>
      Este año, el Caribbean Mobility cobra especial relevancia en un momento en el que el sector de la movilidad ya atraviesa una complicada coyuntura en su cadena de valor, seguimos arrastrando los efectos de un conflicto que afecta al mercado desde la perspectiva geopolítica y se van reduciendo los tiempos acordados para la transformación de la movilidad rodada hacia la electrificación.
    </p>
    <br>
    <p>
      Si bien las expectativas de crecimiento y consolidación del sector en su conjunto siguen dando resultados positivos, no solo en República Dominicana, sino también en otros mercados internacionales, y las inversiones se prevén exponencialmente notables, sigue habiendo un alto grado de incertidumbre por la situación geopolítica global, al tiempo que quedan retos por aclarar en el ecosistema industrial, tecnológico y de servicios de la movilidad eléctrica.
    </p>
  </div>
</section>